:root {
  --color-primary: #4d5ae5;
  --color-pressed: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-modal-overlay: #2e2f42;
  --color-hero-background: #2e2f42;
  --color-white-background: #ffffff;
  --color-modal-background: #2e2f42;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--color-text);

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
/* Header section */
.header-container {
  background-color: var(--color-white-background);
}
.header-logo {
  color: var(--color-dark);

  font-size: 18px;
  font-weight: 800;
  line-height: 1.1666667;

  text-decoration: none;
  text-transform: uppercase;
}
.header-logo-highlighted {
  color: var(--color-primary);
}

.menu-list {
  list-style: none;
}
.menu-item {
  color: var(--color-dark);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  text-decoration: none;
}
.menu-item:active {
  color: var(--color-pressed);
}

.contact-list {
  list-style: none;
}

.contact-item-link {
  color: var(--color-text);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  text-decoration: none;
}
.contact-item-link:active {
  color: var(--color-pressed);
}
/*End of Header section */

/* Main */
.main-container {
  background-color: var(--color-white-background);
}

/* Hero section */
.hero-container {
  background-color: var(--color-dark);
}
.hero-title {
  color: var(--color-white-background);

  font-size: 56px;
  font-weight: 700;
  line-height: 1.0714286;
}
.hero-button {
  color: var(--color-white-background);
  background-color: var(--color-primary);

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  border: none;
  outline: none;
}
.hero-button:hover {
  background-color: var(--color-pressed);
}
/* End of Hero section */

/* Company Values section */
.company-values-list {
  list-style: none;
}
.company-values-label {
  color: var(--color-dark);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.company-values-description {
  color: var(--color-text);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
/* End of Company Values */

/* Our work section */

.our-work-title {
  color: var(--color-dark);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;

  text-transform: capitalize;
}
.our-work-list {
  list-style: none;
}

/* End of Our work section */

/* Our team section */
.our-team-container {
  background-color: var(--color-light);
}
.our-team-title {
  color: var(--color-dark);

  font-size: 36px;
  font-weight: 700;
  line-height: 1.111;

  text-transform: capitalize;
}
.our-team-list {
  list-style: none;
}
.our-team-card {
  background-color: var(--color-white-background);
}
.our-team-label {
  color: var(--color-dark);

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.our-team-description {
  color: var(--color-text);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
/* End of Our team section */

/* Footer section */
.footer-container {
  background-color: var(--color-dark);
}
.footer-list {
  list-style: none;
}
.footer-logo {
  color: var(--color-light);

  font-size: 18px;
  font-weight: 800;
  line-height: 1.1666667;

  text-decoration: none;
  text-transform: uppercase;
}
.footer-logo-highlighted {
  color: var(--color-primary);
}
.footer-text {
  color: var(--color-light);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
/* End of Footer section */
